<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>两栏自适应布局BFC</title>
  <style>
    .container {
      height: 300px;
      outline: 1px solid #000;
    }
    .left {
      float: left;
      width: 100px;
      height: 100%;
      background-color: pink;
    }
    .right {
      height: 100%;
      overflow: hidden;
      background-color: skyblue;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="left">left</div>
    <div class="right">right</div>
  </div>
</body>
</html>